@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  user-select: none;
}

.mainContainer{
  background-color: #6200c0;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.topContainer{
  background-color: #6200c0;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 30px;
  flex-direction: row;
  position: fixed;
  
}

.navigationSection{
  width: 100%;
  height: 40px;
  background-color: transparent;
  flex-direction: row;
  justify-content: end;
  padding: 0px;
  margin-bottom: 50px;
}

.logoSection{
  width: auto;
  height: 40px;
  background-color: transparent;
  align-items: left;
}

.logo{
  width: 25%;
  height: 100%;
}

.linkSection{
  height: auto;
  padding: 5px;
  background-color: transparent;
  align-items: end;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.navLinks{
  width: auto;
  height: auto;
  flex-direction: row;
  float : left;

}

.dv{
  margin-right: 5px;
  padding: 5px;
}

.dv:hover, .dv:active, .dv:focus{
  background-color: rgba(255, 255, 255, 0.104);
  border-radius: 10px;
  scale: 1.1;
  transition-duration: 100ms;
}


.welcomeSection{
  width: 100%;
  height: auto;
  padding: 80px;
  background-color: transparent;
  flex-direction: row;
}

.greeting{
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #6D13C7;
  border-radius: 15px;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
  font-weight: 500;
}

.titleSection{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  padding: 20px;
}

.title{
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.tDescription{
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.photoSection{
  width: 100%;
  height: auto;
  background-color: transparent;
  align-self: center;
  justify-content: center;
  padding: 10px;
}

.bottomSection{
  width: 70px;
  height: 70px;
  padding: 0px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

/*About Us Section CSS*/

.aboutMainContainer{
  width:100%;
  height:550px;
  padding: 30px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.aboutTitle{
  width: 100%;
  height: 90px;
  padding: 5px;
  background-color: transparent;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color:#FE7C56

}

.aboutSubContainer{
  width: 100%;
  height: 400px;
  padding: 5px;
  background-color: transparent;
  flex-direction: row;
  float: left;
  align-items: center;
  justify-content: center;
  align-content: center;

  font-family: 'Century Gothic', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.aboutDesc{
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: transparent;
}

.aboutImgs1{
  width: 25%;
  height: auto;
  padding: 20px;
  background-color: transparent;
}

/*Home Slider CSS*/

.sliderContainer{
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: #B2D93A;
}


.carousel {
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: transparent;
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #FE7C56;
}


/*hola uwu*/

/*css for registration forms*/

.mainFormContainer{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.formTitle{
  width: 100%;
  height: auto;
  background-color: #B2D93A;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.formMargins{
  width: 100%;
  height: auto;
  background-color: rgba(71, 255, 25, 0.164);
  border-radius: 0px 0px 20px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/*css for map container*/

.mainMapContainer{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 90px;
}

.mapContainer{
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  background-color: #B2D93A;
  border-color: #B2D93A;
  border-style: solid 10px;
  border-width: 2px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.containerGrande{
  width: auto;
  height: auto;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.mapFormTitle{
  width: 100%;
  height: auto;
  background-color: #B2D93A;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

/*Modal Container css*/

.mainModalArea{
  width: 800px;
  height: auto;
  background-color: red;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.modalTitle{
  font-family: 'Century Gothic', sans-serif;
  font-weight: 700;
}

.modalContainer{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Century Gothic', sans-serif;
}

/*icons css*/

.icon{
  width: 20px;
  height: 20px;
  flex-direction: row;
  margin-right: 5px;
}

/*Card Slider CSS*/

.box-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  /*%%%%%%%%
   %% CARD %%
   %%%%%%%%*/
  /*%% End card %%*/
}
.box-container .card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f6fa;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.box-container .card:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background: #64b3f4;
  transition: all 0.5s ease;
}
.box-container .card:hover {
  /*%% Card on hover %%*/
}
.box-container .card:hover:before {
  height: 180px;
}
.box-container .card:hover .social {
  margin-top: 50px;
}
.box-container .card:hover .pic {
  width: 120px;
  height: 120px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 1px #888;
}
.box-container .card:hover .content {
  margin-top: 90px;
}
.box-container .card .social {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0;
  margin-top: -30px;
  text-align: center;
  transition: margin-top 0.5s ease;
}
.box-container .card .social a {
  text-decoration: none;
  color: #2d3436;
  padding: 8px;
  font-size: 18px;
  color: #fff;
}
.box-container .card .pic {
  position: relative;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.box-container .card .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.box-container .card .content {
  margin-top: 90px;
  text-align: center;
  padding: 0 30px;
  color: #2d3436;
  transition: margin-top 0.5s ease;
}
.box-container .card .content .title {
  margin-bottom: 0;
  font-family: 'Yantramanav', sans-serif;
  font-size: 22px;
}
.box-container .card .content span {
  font-size: 12px;
  letter-spacing: 1.5px;
}
.box-container .card .content p {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.6;
  color: #b0b0b0;
}
/*%% End container %%*/

.formContainer {
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
}



