@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  width: 100%;
  height: 100%;

}

.mainContainer{
  background-color: #6200c0;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.topContainer{
  background-color: #6200c0;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 30px;
  flex-direction: row;
  position: sticky;
  margin-bottom: 0px;
}

.navigationSection{
  width: 100%;
  height: 40px;
  background-color: transparent;
  flex-direction: row;
  justify-content: end;
  padding: 0px;
}

.logoSection{
  width: 100%;
  height: 40px;
  background-color: transparent;
  align-items: left;
}

.logo{
  width: 50px;
  height: 70px;
}

.linkSection{
  height: auto;
  padding: 5px;
  background-color: transparent;
  align-items: end;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.navLinks{
  width: auto;
  height: auto;
  margin-right: 10px;
}

.welcomeSection{
  width: 100%;
  height: auto;
  padding: 100px;
  background-color: transparent;
  flex-direction: row;
}

.greeting{
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #6D13C7;
  border-radius: 15px;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
  font-weight: 500;
}

.titleSection{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  padding: 20px;
}

.title{
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.tDescription{
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.photoSection{
  width: 100%;
  height: auto;
  background-color: transparent;
  align-self: center;
  justify-content: center;
  padding: 10px;
}


/*hola uwu*/

/*css for registration forms*/

.mainFormContainer{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.formTitle{
  width: 100%;
  height: auto;
  background-color: #B2D93A;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.formMargins{
  width: 100%;
  height: auto;
  background-color: rgba(71, 255, 25, 0.164);
  border-radius: 0px 0px 20px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


/*css for map container*/

.mainMapContainer{
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.mapContainer{
  width: auto;
  height: auto;
  background-color: #B2D93A;
  align-items: center;
  justify-content: center;
  border-color: #B2D93A;
  border-style: solid 10px;
  border-radius: 0px 0px 20px 20px;
  border-width: 2px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.containerGrande{
  width: auto;
  height: auto;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.mapFormTitle{
  width: 100%;
  height: auto;
  background-color: #B2D93A;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}


